body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
     height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 50px;
    
}

p {
    color: #666;
    text-align: center;
    font-size: 18px;
}

#container {
    width: 50%;
    
    align-items: center;
    text-align: center;
    margin: 10% auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 30px;
}